<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create your grocery list:</h3>


<form class="form new-ingredient-form">
      <div class="form-group">
        <label for="ingredient-name">Item:</label>
        <input class="form-input" type="text" id="ingredient-name" name="ingredient-name" />
      </div>
      <div class="form-group">
        <label for="ingredient-quantity">Item Qty:</label>
        <input class="form-input" type="number" id="ingredient-quantity" name="ingredient-quantity" />
      </div>
      
      <div class="form-group">
        <button type="submit " class="btn btn-primary bg-gray-900 hover:bg-gray-600 text-white py-2 px-4 rounded">Add</button>
      </div>
    </form>
  </div> 


  {{!-- <div>
    <div class="col-span-2">
        <div class="grid grid-cols-2 gap-1">
        {{#each user.ingredient}}
        <div class="bg-stone-200 px-3 py-2">
          <input type="checkbox">
          {{ingredient.name}}
          </div>
        

        <div class="bg-stone-200 px-3 py-2">{{ingredient.quantity}}</div>
        {{/each}}
        </div>
        <div class="col-md-4">
        <button class="btn btn-sm btn-danger bg-gray-900 hover:bg-gray-600 text-white py-2 px-4 rounded" data-id="{{ingredient.id}}">DELETE</button>
      </div> --}}
    {{!-- </div>  --}}
  {{#if ingredients.length}}
  <div class="ingredient-list">
    <h3>Current Ingredients:</h3>
<div class="grid grid-cols-3">
    {{#each ingredients as |ingredient|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>
        <input type="checkbox">
        {{ingredient.name}}</h4>
      </div>
       <div class="col-md-8">
        <h4>
        {{ingredient.quantity}} ea</h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{ingredient.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
